extends layout

block content
  if user != null
    - var lastname = user.lastname
    - var firstname = user.firstname
    - var username = user.username
    - var password = user.password
    - var birthdate = user.birthdate
    - var email = user.email
    - var street = user.address.street
    - var number = user.address.number
    - var town = user.address.town
    - var postalCode = user.address.postalCode
    - var country = user.address.country
    - var sex = user.sex
    - var phone = user.phone
    if user._id
        - var idbis = ""+user._id
  else
    - var idbis = ""
  form.form-horizontal(action=idbis , method="post")
    fieldset
      // Form Name
      legend Ajouter un lien
      p #{error}
      // Text input
      .form-group
          label.col-md-4.control-label(for='lastname') Nom:
          .col-md-4
              input#lastname.form-control.input-md(name='lastname', type='text', placeholder='Nom..', required='', value=lastname)
      // Text input
      .form-group
          label.col-md-4.control-label(for='firstname') Prenom:
          .col-md-4
              input#firstname.form-control.input-md(name='firstname', type='text', placeholder='Prenom..', required='',value=firstname)
      .form-group
          label.col-md-4.control-label(for='username') Pseudo:
          .col-md-4
              input#username.form-control.input-md(name='username', type='text', placeholder='Pseudo..', required='',value=username)
      .form-group
          label.col-md-4.control-label(for='password') Password:
          .col-md-4
              input#password.form-control.input-md(name='password', type='text', placeholder='Password..', required='',value=password)
      .form-group
          label.col-md-4.control-label(for='birthdate') Date de naissance:
          .col-md-4
              input#birthdate.form-control.input-md(name='birthdate', type='text', placeholder='Date de naissance..', required='',value=birthdate)
      .form-group
          label.col-md-4.control-label(for='email') Email:
          .col-md-4
              input#email.form-control.input-md(name='email', type='text', placeholder='Email..', required='',value=email)
      .form-group
          label.col-md-4.control-label(for='street') Adresse:
          .col-md-4
              input#street.form-control.input-md(name='street', type='text', placeholder='Adresse..', required='',value=street)
      .form-group
          label.col-md-4.control-label(for='number') Numero:
          .col-md-4
              input#number.form-control.input-md(name='number', type='text', placeholder='Numero..', required='',value=number)
      .form-group
          label.col-md-4.control-label(for='town') Ville:
          .col-md-4
              input#town.form-control.input-md(name='town', type='text', placeholder='Ville..', required='', value=town)   
      .form-group
          label.col-md-4.control-label(for='postalCode') Code postale:
          .col-md-4
              input#postalCode.form-control.input-md(name='postalCode', type='text', placeholder='Code postale..', required='', value=postalCode)
      .form-group
          label.col-md-4.control-label(for='country') Pays:
          .col-md-4
              input#country.form-control.input-md(name='country', type='text', placeholder='Pays..', required='', value=country)       
      .form-group
          label.col-md-4.control-label(for='sex') Sexe:
          .col-md-4
              input#sex.form-control.input-md(name='sex', type='text', placeholder='Sexe..', required='', value=sex)       
      .form-group
          label.col-md-4.control-label(for='phone') Telephone:
          .col-md-4
              input#phone.form-control.input-md(name='phone', type='text', placeholder='Telephone..', required='', value=phone)
      // Button
      .form-group
          label.col-md-4.control-label(for='submit')
          .col-md-4
              button#submit.btn.btn-primary(name='submit') Put a clic
