extends layout

block content
    
  form.form-horizontal(action="" , method='post')
    fieldset
      // Form Name
      legend Authentification
      p #{error}
      // Text input
      .form-group
          label.col-md-4.control-label(for='usernameoremail') Pseudo ou Email
          .col-md-4
              input#usernameoremail.form-control.input-md(name='usernameoremail', type='text', placeholder='Pseudo ou Email..', required='')
      // Text input
      .form-group
          label.col-md-4.control-label(for='password') Mot de passe:
          .col-md-4
              input#password.form-control.input-md(name='password', type='text', placeholder='Mot de passe..', required='')
      
      // Button
      .form-group
          label.col-md-4.control-label(for='submit')
          .col-md-4
              button#submit.btn.btn-primary(name='submit') Put a clic
