extends layout

block content
    
  form.form-horizontal(action=id , method='post')
    fieldset
      // Form Name
      legend Changer mot de passe
      p #{error}
      // Text input
      .form-group
          label.col-md-4.control-label(for='password') Mot de passe:
          .col-md-4
              input#password.form-control.input-md(name='password', type='text', placeholder='Mot de passe..', required='')
      // Text input
      .form-group
          label.col-md-4.control-label(for='newPassword') Nouveau mot de passe:
          .col-md-4
              input#newPassword.form-control.input-md(name='newPassword', type='text', placeholder='Nouveau mot de passe..', required='')
      .form-group
          label.col-md-4.control-label(for='newPassword2') Retapez le mot de passe:
          .col-md-4
              input#newPassword2.form-control.input-md(name='newPassword2', type='text', placeholder='Nouveau mot de passe..', required='')
      // Button
      .form-group
          label.col-md-4.control-label(for='submit')
          .col-md-4
              button#submit.btn.btn-primary(name='submit') Put a clic
