extends layout

block content
  if users.sex = true
    - var sex = "Masculin"
  else
   - var sex = "Feminin"

  blockquote
    p #{users.lastname}
    p #{users.firstname}
    p #{users.username}
    p #{users.password}
    p #{users.birthdate}
    p=sex
    p #{users.email}
    p #{users.phone}
    p #{users.address.street} #{users.address.number} #{users.address.postalCode}
    p #{users.address.country}
    footer
      a(href="/users") back
