doctype html
html
    head
        title= title
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css')
        html
          body
            nav.navbar.navbar-default
              .container-fluid
                // Brand and toggle get grouped for better mobile display
                .navbar-header
                  button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                  a.navbar-brand #{title}
                // Collect the nav links, forms, and other content for toggling
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                  ul.nav.navbar-nav
                    li
                      a(href="/") Accueil
                    li
                      a(href="/users/") Users
                    li
                      a(href="/users/add/") Ajouter
                    li
                      a(href="/auth/") Authentification
                // /.navbar-collapse
              // /.container-fluid

.container          
    block content
