extends layout

block content
  for user in users
      blockquote
        p #{user.lastname} #{user.firstname}
        footer
          a(href="/users/detail/"+"#{user._id}") Detail
        footer
          a(href="/users/add/"+"#{user._id}") Update
        footer
          a(href="/users/changePass/"+"#{user._id}") Changer mot de passe
        footer
          a(href="/users/del/"+"#{user._id}") Supprimer
