extends layout

block content
  form.form-horizontal(action="test" , method='post')
    fieldset
      // Form Name
      legend Token
      p #{token}
      // Text input
      .form-group
          label.col-md-4.control-label(for='token') token:
          .col-md-4
              input#token.form-control.input-md(name='token', type='text', placeholder='token..', required='', value=token)
      // Button
      .form-group
          label.col-md-4.control-label(for='submit')
          .col-md-4
              button#submit.btn.btn-primary(name='submit') Put a clic
